<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booklist</title>
</head>
<body>
    <h1 align="center">BOOKLIST</h1>
    <table border="2" align="center">  
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Year</th>
            <th>Genre</th>
            <th>Link</th>
            <th>Delete</th>
     
       </tr>
    {%for book in data%}
    <tr>
    <td>{{book.title}}</td>
    <td>{{book.author}}</td>
    <td>{{book.publication_year}}</td>
    <td>{{book.genre}}</td>
    <td><a href="{% url 'book-det' book.id %}">Link</a></td>
    <td><a href="{% url 'book-del' book.id %}">Delete</a></td>
    </tr>
    {%endfor%}
</tr>
</table>  
</body>
</html>