<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
</head>
<body>
    <table border="2" align="center">  
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Course</th>
       </tr>
    {%for lumi in data%}
    <br>
    <tr>
        <style>
            table{
                text-align: center;
            }
        </style>
    <td>{{lumi.name}}</td>
    <td>{{lumi.email}}</td>
    <td>{{lumi.course}}</td>
    </tr>
    {%endfor%}
</tr>
</table>  
</body>
</html>